body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select {
  cursor: pointer;
}

.unit-buttons {
  margin-bottom: 20px;
}

.unit-buttons button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.unit-buttons button:hover {
  background-color: #f0f0f0;
}

#receipt-table {
  width: 90%;
  border-collapse: collapse;
}

.foot{
  font-weight: bold;
}

#receipt-table th, #receipt-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

#receipt-table th {
  background-color: #f0f0f0;
}